.logo{
  background-image: url('../imgs/logo.png');
  background-size: 100% 100%;
}

a:link, a:visited, a:hover, a:active{
  text-decoration:none;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}
